.section1 {
  justify-content: space-evenly;
  align-items: center;
}

.home {
  height: 100vh;
}

.humanImg {
  width: 100px;
}

.imageContainer {
  position: absolute;
  width: 100vw;
}

.contentContainer {
  height: 100%;
  width: 70%;
}

.contentContainer p {
  font-size: xx-large;
}
