.colourBg {
  background-color: #000814;
}

.navbar {
  font-size: 25px;
  font-weight: 600;
  height: 80px;
}

.navbar ul {
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li:last-child {
  display: flex;
}

.navbar ul li:last-child div {
  padding-right: 50px;
}

.logo {
  padding-left: 50px;
}
