.button {
  padding: 10px 20px;
  border-radius: 10px;
  border: solid;
  background-color: #e5e5e5;
  margin: 0 5px;
}

.button:hover {
  background-color: black;
  color: #e5e5e5;
  cursor: grab;
}
