.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #e5e5e5;
  padding: 50px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  font-size: larger;
}

.avatar {
  margin-right: 50px;
}

.introContainer {
  margin-left: 50px;
  display: flex;
  padding-bottom: 50px;
}

.addressContainer {
  padding: 50px;
}

.companyContainer {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
}

.companyAvatar {
  border-radius: 50%;
  margin-right: 50px;
}
